<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/common.css" type="text/css">
    <link rel="stylesheet" href="../public/css/music.css" type="text/css">
    <title>音乐</title>
</head>
<body>
    <div class="page music-page clearfix" id="app">
        <div class="left scroll">
            <a href="javascript:void(0)" class="button" @click="addDir">添加文件夹</a>
            <ul>
                <li v-for="(value,id,index) in filePathList" data-id="id"
                    :class="{'active':currentDirId == id}"
                    @click="selectDir(id)">{{value}}</li>
            </ul>
        </div>
        <div class="right scroll">
            <div class="search">
                <input type="text" v-model="key">
                <a href="javascript:void (0)" @click="skip('next')">下一首</a>
            </div>
            <ul>
                <li v-for="(item, id) in musicList" v-if="item['name'].indexOf(key) != -1"
                    :class="{'active':currentId == id}"
                    :title="item['name']"
                    @click="playMusic(id)">{{item['name']}}</li>
            </ul>
            <audio id="player" :src="musicPath" controls="controls" ></audio>
        </div>
    </div>
    <script>
        const electron = require('electron');
        const { dialog } = electron.remote;
        const fs = require('fs');
        const path = require('path');
        const Vue = require('vue/dist/vue');

        let app = new Vue({
            el: '#app',
            data: {
                key: '',
                filePathList: {},
                currentDirId: '',
                currentId: 0,
                musicPath: '',
                musicList: [],
                allmusicList: [],
                nums: 0,
                currentTime: 0,
                extnames: ['.mp3', '.flac'],
                cacheMusic: {}
            },
            watch: {
                currentId: function () {
                    this.currentId = Number(this.currentId)
                },
                filePathList: function () {
                    localStorage.setItem('filePathList', JSON.stringify(this.filePathList));
                },
                musicList: function () {
                    this.nums = this.musicList.length;
                    this.cacheMusic[this.currentDirId] = this.musicList;
                }
            },
            created: function (){
                this.filePathList = JSON.parse(localStorage.getItem('filePathList'));
                this.getMusicList();
            },
            mounted: function () {
                let player = document.getElementById("player");
                let _this = this;
                player.addEventListener('timeupdate',function(){
                    _this.currentTime = player.currentTime;
                });
                player.addEventListener('ended',function(){
                    _this.skip('next');
                })
            },
            methods: {
                /**
                 *
                 * @param direction
                 */
                skip: function (direction) {  //next, prev, random
                    let id = 0;
                    switch (direction){
                        case 'prev':
                            id = this.currentId - 1;
                            id = id<0?0:id;
                            this.playMusic(id);
                            break;

                        case 'random':
                            id = Math.round(Math.random()*this.nums);
                            console.log(Math.random()*this.nums);
                            this.playMusic(id);
                            break;

                        case 'next':
                            id = this.currentId + 1;
                            id = id>this.nums?this.nums:id;
                            this.playMusic(id);
                            break;
                    }

                },
                skipTo: function (id) {
                    this.playMusic(id);
                },
                addDir: function () {
                    let filePathList = this.filePathList;
                    dialog.showOpenDialog({ properties: ['openDirectory'] }, (filePaths)=> {
                        if(!filePaths) return;
                        let hasPath = 0;
                        for(let k in filePathList){
                            filePaths.map((item)=>{
                                if(item == filePathList[k]){
                                    hasPath = 1;
                                    return false;
                                }
                            })

                        }
                        if(!hasPath){
                            filePaths.map((item)=>{
                                Vue.set(filePathList, item, item);
                            })

                        }
                    })
                },
                selectDir: function (id) {
                    this.currentDirId = id;
                    this.getMusicList();
                },
                getMusicList: function () {
                    let _this = this;
                    if(this.currentDirId == '') return;
                    let filePath = this.filePathList[this.currentDirId];
                    if(this.cacheMusic[this.currentDirId]){
                        this.musicList = this.cacheMusic[this.currentDirId];
                    }else {
                        getFile(filePath);
                    }

                    function getFile(filePath) {
                        _this.musicList = [];
                        fs.readdir(filePath,  (err, files)=> {
                            if(err) throw err;
                            files.map(function (filename) {

                                let fileDir = path.join(filePath, filename);
                                if(_this.extnames.indexOf(path.extname(filename)) != -1){
                                    fs.stat(fileDir, (err, stats)=>{
                                        if(err) throw err;
                                        let isFile = stats.isFile();
                                        let isDir = stats.isDirectory();
                                        if(isFile){
                                            let o = {
                                                'path': fileDir,
                                                'name': filename
                                            };
                                            _this.musicList.push(o);
                                        }
                                        if(isDir){
                                            getFile(fileDir)
                                        }
                                    });
                                }
                            })
//                        this.nums = files.length;
                        })
                    }
                },
                playMusic: function (id) {
                    let filePath = this.musicList[id]['path'];
                    this.musicPath = filePath;
                    this.$nextTick(() => {
                        let player = document.getElementById("player");
                        player.play();
                    });
                    this.currentId = id;
                },

            }

        });

    </script>
</body>
</html>